.icon-button {
  background-color: var(--bg-color);
  color: var(--color);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
}

.icon-button:hover:not(:disabled) {
  background-color: var(--hover-bg-color);
  transform: var(--hover-transform);
}

.icon-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.icon-button svg {
  fill: currentColor;
  flex-shrink: 0;
  object-fit: contain;
}
