/* App.css */

/* Define global color variables */
:root {
    --enmOrange: #e76a29;
    --enmBlue: #1d377f;
    --enmGray: #908f8f;
    --backgroundHeader: #007bff;
    --noteHeader: #E5FFDE;
    --remindersHeader: #475B5A;
    --filesHeader: #DDC4DD;
    --success: #4cae4c;
    --error: #c9302c;
    --backgroundStripe: #333;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--enmGray);
    color: var(--backgroundStripe);
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;

}

/* App Container Styling */
.app-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-color: var(--enmGray);
}

/* White Active Area */
.app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    height: 100%;
    overflow-y: auto;
}

/* Links */
a {
    color: var(--enmBlue);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #14265e;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--enmBlue);
    margin: 0;
}
