:root {
  --enmOrange: #e76a29;
  --enmBlue: #007bff;
  --enmBlueHover: #0056b3;
  --enmOrangeHover: #fa8647;
  --enmOrangeActive: #f8691c;
  --enmBlue: #1d377f;
  --enmGray: #908f8f;
  --backgroundHeader: #007bff;
  --backgroundLight: #e4e4e4;
  --noteHeader: #e5ffde;
  --remindersHeader: #475b5a;
  --filesHeader: #ddc4dd;
  --primary: #007aff;
  --primaryHover: #0062cc;
  --primaryActive: #0052b3;
  --secondary: #5e5ce6;
  --secondaryHover: #4a49d1;
  --secondaryActive: #3d3cc7;
  --success: #34c759;
  --successHover: #2da44e;
  --successActive: #258b3d;
  --danger: #ff3b30;
  --dangerHover: #e6352b;
  --dangerActive: #cc2a21;
  --backgroundStripe: #333;
  --white: white;
  --text: #007aff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: var(--enmGray);
  color: var(--BackgroundStripe);
  overflow: hidden;
}

a {
  color: var(--enmBlue);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #14265e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--enmBlue);
  margin: 0;
}
