.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  pointer-events: all;
  padding: 0;
}

.icon-button:disabled {
  cursor: default !important;
  pointer-events: none;
}

.icon-button:not(:disabled):hover {
  background-color: var(--hover-color) !important;
  transform: var(--hover-transform) !important;
}

.icon-button svg {
  fill: currentColor;
  flex-shrink: 0;
  object-fit: contain;
}
