.dropdown-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    position: relative;
    z-index: 10;
    text-align: center;
}

.react-select__control {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--enmGray);
    cursor: pointer;
    box-shadow: none;
    padding: 0;
    justify-content: center;
}

.react-select__placeholder {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--enmGray);
    text-align: center;
}

.react-select__single-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--enmGray);
    text-align: center;
}

.react-select__menu {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 4px;
}

.react-select__menu-list {
    padding: 0;
}

.react-select__option {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
}

.react-select__option--is-selected {
    background-color: var(--enmOrange);
    color: #fff;
}

.react-select__option--is-focused {
    background-color: #f3f3
}